.course-correct-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.course-correct-course-start {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.course-correct-text {
  top: 237px;
  left: 534px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-group4 {
  top: 450px;
  left: 239px;
  width: 1250px;
  height: 342px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-frame3 {
  top: 0px;
  left: 0px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text02 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text04 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-redheadedmanlooksawayandsmiles {
  top: 24px;
  left: 100px;
  width: 227px;
  height: 217px;
  position: absolute;
  border-color: transparent;
}
.course-correct-rectangle201 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-frame4 {
  top: 0px;
  left: 422px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text05 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text07 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle2011 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-girlwithpurplehairandabow {
  top: 18px;
  left: 123px;
  width: 171px;
  height: 223px;
  position: absolute;
  border-color: transparent;
}
.course-correct-frame5 {
  top: 0px;
  left: 844px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(107, 84, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(244, 240, 252, 1);
}
.course-correct-text08 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text10 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle2012 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-girl {
  top: 30px;
  left: 80px;
  width: 253px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.course-correct-text11 {
  top: 102px;
  left: 1312px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-group1 {
  top: 108px;
  left: 453px;
  width: 822px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-rectangle193 {
  top: 0px;
  left: 0px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle195 {
  top: 0px;
  left: 279px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle197 {
  top: 0px;
  left: 559px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle194 {
  top: 0px;
  left: 140px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle196 {
  top: 0px;
  left: 419px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle198 {
  top: 0px;
  left: 698px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-group3 {
  top: 324px;
  left: 743px;
  width: 242px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text13 {
  top: 13px;
  left: 103px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.course-correct-volumehigh {
  top: 16px;
  left: 42px;
  width: 42px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-correct-vuesaxbulkvolumehigh {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-group {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-vector {
  top: 12.687023162841797px;
  left: 30.187023162841797px;
  width: 5px;
  height: 17px;
  position: absolute;
}
.course-correct-vector1 {
  top: 8.312023162841797px;
  left: 33.389522552490234px;
  width: 6px;
  height: 25px;
  position: absolute;
}
.course-correct-vector2 {
  top: 5.964838981628418px;
  left: 9.625px;
  width: 18px;
  height: 30px;
  opacity: 0.40;
  position: absolute;
}
.course-correct-vector3 {
  top: 10.9375px;
  left: 2.1875px;
  width: 7px;
  height: 20px;
  position: absolute;
}
.course-correct-lang {
  top: 97px;
  left: 75px;
  width: 148px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.course-correct-button {
  top: 63px;
  left: 1425px;
  width: 224px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(105, 82, 149, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.course-correct-text15 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle203 {
  top: 858px;
  left: 0px;
  width: 1728px;
  height: 259px;
  position: absolute;
  border-color: transparent;
}
.course-correct-button1 {
  top: 923px;
  left: 1321px;
  width: 259px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(136, 11, 11, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(60, 46, 81, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  background-color: rgba(197, 0, 0, 1);
}
.course-correct-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 37px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-correct-text19 {
  top: 943px;
  left: 328px;
  color: rgba(196, 4, 4, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-checkmarkinthegreencircle {
  top: 901px;
  left: 189px;
  width: 139px;
  height: 139px;
  position: absolute;
  border-color: transparent;
}
.course-correct-course-start1 {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.course-correct-text21 {
  top: 237px;
  left: 534px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-group41 {
  top: 450px;
  left: 239px;
  width: 1250px;
  height: 342px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-frame31 {
  top: 0px;
  left: 0px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(107, 84, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(243, 239, 251, 1);
}
.course-correct-text23 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text25 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-redheadedmanlooksawayandsmiles1 {
  top: 24px;
  left: 100px;
  width: 227px;
  height: 217px;
  position: absolute;
  border-color: transparent;
}
.course-correct-rectangle2013 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-frame41 {
  top: 0px;
  left: 422px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text26 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text28 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle2014 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-girlwithpurplehairandabow1 {
  top: 18px;
  left: 123px;
  width: 171px;
  height: 223px;
  position: absolute;
  border-color: transparent;
}
.course-correct-frame51 {
  top: 0px;
  left: 844px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text29 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-text31 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle2015 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-correct-girl1 {
  top: 30px;
  left: 80px;
  width: 253px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.course-correct-text32 {
  top: 102px;
  left: 1312px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-group11 {
  top: 108px;
  left: 453px;
  width: 822px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-rectangle1931 {
  top: 0px;
  left: 0px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle1951 {
  top: 0px;
  left: 279px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle1971 {
  top: 0px;
  left: 559px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle1941 {
  top: 0px;
  left: 140px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle1961 {
  top: 0px;
  left: 419px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-rectangle1981 {
  top: 0px;
  left: 698px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-correct-group31 {
  top: 324px;
  left: 743px;
  width: 242px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 249, 249, 1);
}
.course-correct-text34 {
  top: 13px;
  left: 103px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.course-correct-volumehigh1 {
  top: 16px;
  left: 42px;
  width: 42px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-correct-vuesaxbulkvolumehigh1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-group1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-correct-vector4 {
  top: 12.687023162841797px;
  left: 30.187023162841797px;
  width: 5px;
  height: 17px;
  position: absolute;
}
.course-correct-vector5 {
  top: 8.312023162841797px;
  left: 33.389522552490234px;
  width: 6px;
  height: 25px;
  position: absolute;
}
.course-correct-vector6 {
  top: 5.964838981628418px;
  left: 9.625px;
  width: 18px;
  height: 30px;
  opacity: 0.40;
  position: absolute;
}
.course-correct-vector7 {
  top: 10.9375px;
  left: 2.1875px;
  width: 7px;
  height: 20px;
  position: absolute;
}
.course-correct-lang1 {
  top: 97px;
  left: 75px;
  width: 148px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.course-correct-button2 {
  top: 63px;
  left: 1425px;
  width: 224px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(105, 82, 149, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.course-correct-text36 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-rectangle2031 {
  top: 858px;
  left: 0px;
  width: 1728px;
  height: 259px;
  position: absolute;
  border-color: transparent;
}
.course-correct-button3 {
  top: 923px;
  left: 1321px;
  width: 259px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(65, 136, 11, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(60, 46, 81, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(85, 197, 0, 1);
}
.course-correct-text38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 37px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-correct-text40 {
  top: 943px;
  left: 328px;
  color: rgba(87, 196, 5, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-correct-checkmarkinthegreencircle1 {
  top: 924px;
  left: 208px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
