.course-false-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.course-false-course-start {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.course-false-text {
  top: 237px;
  left: 534px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-group4 {
  top: 450px;
  left: 239px;
  width: 1250px;
  height: 342px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-frame3 {
  top: 0px;
  left: 0px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(107, 84, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(243, 239, 251, 1);
}
.course-false-text02 {
  top: 276px;
  left: 31px;
  color: rgba(103, 79, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text04 {
  top: 275px;
  left: 344px;
  color: rgba(103, 79, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-redheadedmanlooksawayandsmiles {
  top: 24px;
  left: 100px;
  width: 227px;
  height: 217px;
  position: absolute;
  border-color: transparent;
}
.course-false-rectangle201 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(103, 79, 148, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-frame4 {
  top: 0px;
  left: 422px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text05 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text07 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-rectangle2011 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-girlwithpurplehairandabow {
  top: 18px;
  left: 123px;
  width: 171px;
  height: 223px;
  position: absolute;
  border-color: transparent;
}
.course-false-frame5 {
  top: 0px;
  left: 844px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text08 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text10 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-rectangle2012 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-girl {
  top: 30px;
  left: 80px;
  width: 253px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.course-false-text11 {
  top: 102px;
  left: 1312px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-group1 {
  top: 108px;
  left: 453px;
  width: 822px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-rectangle193 {
  top: 0px;
  left: 0px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle195 {
  top: 0px;
  left: 279px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle197 {
  top: 0px;
  left: 559px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle194 {
  top: 0px;
  left: 140px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle196 {
  top: 0px;
  left: 419px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle198 {
  top: 0px;
  left: 698px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-group3 {
  top: 324px;
  left: 743px;
  width: 242px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text13 {
  top: 13px;
  left: 103px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.course-false-volumehigh {
  top: 16px;
  left: 42px;
  width: 42px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-false-vuesaxbulkvolumehigh {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-group {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-vector {
  top: 12.687023162841797px;
  left: 30.187023162841797px;
  width: 5px;
  height: 17px;
  position: absolute;
}
.course-false-vector1 {
  top: 8.312023162841797px;
  left: 33.389522552490234px;
  width: 6px;
  height: 25px;
  position: absolute;
}
.course-false-vector2 {
  top: 5.964838981628418px;
  left: 9.625px;
  width: 18px;
  height: 30px;
  opacity: 0.40;
  position: absolute;
}
.course-false-vector3 {
  top: 10.9375px;
  left: 2.1875px;
  width: 7px;
  height: 20px;
  position: absolute;
}
.course-false-lang {
  top: 97px;
  left: 75px;
  width: 148px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.course-false-button {
  top: 63px;
  left: 1425px;
  width: 224px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(105, 82, 149, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.course-false-text15 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-group2 {
  top: 923px;
  left: 148px;
  width: 1432px;
  height: 95px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-button1 {
  top: 0px;
  left: 1173px;
  width: 259px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(53, 32, 95, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(60, 46, 81, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  background-color: rgba(102, 79, 147, 1);
}
.course-false-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 37px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-false-button2 {
  top: 0px;
  left: 0px;
  width: 259px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(191, 191, 191, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.20000000298023224) 0%, rgba(255, 255, 255, 0) 100%);
}
.course-false-text19 {
  color: rgba(191, 191, 191, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 37px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-false-course-start1 {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.course-false-text21 {
  top: 237px;
  left: 534px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-group41 {
  top: 450px;
  left: 239px;
  width: 1250px;
  height: 342px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-frame31 {
  top: 0px;
  left: 0px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text23 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text25 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-redheadedmanlooksawayandsmiles1 {
  top: 24px;
  left: 100px;
  width: 227px;
  height: 217px;
  position: absolute;
  border-color: transparent;
}
.course-false-rectangle2013 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-frame41 {
  top: 0px;
  left: 422px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text26 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text28 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-rectangle2014 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-girlwithpurplehairandabow1 {
  top: 18px;
  left: 123px;
  width: 171px;
  height: 223px;
  position: absolute;
  border-color: transparent;
}
.course-false-frame51 {
  top: 0px;
  left: 844px;
  width: 406px;
  height: 342px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(107, 84, 150, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 45px;
  background-color: rgba(244, 240, 252, 1);
}
.course-false-text29 {
  top: 276px;
  left: 31px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-text31 {
  top: 275px;
  left: 344px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 146.00000381469727%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-rectangle2015 {
  top: 274px;
  left: 333px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.course-false-girl1 {
  top: 30px;
  left: 80px;
  width: 253px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.course-false-text32 {
  top: 102px;
  left: 1312px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-group11 {
  top: 108px;
  left: 453px;
  width: 822px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-rectangle1931 {
  top: 0px;
  left: 0px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle1951 {
  top: 0px;
  left: 279px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle1971 {
  top: 0px;
  left: 559px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle1941 {
  top: 0px;
  left: 140px;
  width: 123px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle1961 {
  top: 0px;
  left: 419px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-rectangle1981 {
  top: 0px;
  left: 698px;
  width: 124px;
  height: 15px;
  position: absolute;
  border-color: transparent;
  border-radius: 10.5px;
}
.course-false-group31 {
  top: 324px;
  left: 743px;
  width: 242px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 249, 249, 1);
}
.course-false-text34 {
  top: 13px;
  left: 103px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.course-false-volumehigh1 {
  top: 16px;
  left: 42px;
  width: 42px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-false-vuesaxbulkvolumehigh1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-group1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-false-vector4 {
  top: 12.687023162841797px;
  left: 30.187023162841797px;
  width: 5px;
  height: 17px;
  position: absolute;
}
.course-false-vector5 {
  top: 8.312023162841797px;
  left: 33.389522552490234px;
  width: 6px;
  height: 25px;
  position: absolute;
}
.course-false-vector6 {
  top: 5.964838981628418px;
  left: 9.625px;
  width: 18px;
  height: 30px;
  opacity: 0.40;
  position: absolute;
}
.course-false-vector7 {
  top: 10.9375px;
  left: 2.1875px;
  width: 7px;
  height: 20px;
  position: absolute;
}
.course-false-lang1 {
  top: 97px;
  left: 75px;
  width: 148px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.course-false-button3 {
  top: 63px;
  left: 1425px;
  width: 224px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(105, 82, 149, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.course-false-text36 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-rectangle203 {
  top: 858px;
  left: 0px;
  width: 1728px;
  height: 259px;
  position: absolute;
  border-color: transparent;
}
.course-false-button4 {
  top: 923px;
  left: 1321px;
  width: 259px;
  height: 95px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(136, 11, 11, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(60, 46, 81, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 34.16470718383789px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(197, 0, 0, 1);
}
.course-false-text38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 37px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-false-text40 {
  top: 943px;
  left: 328px;
  color: rgba(196, 4, 4, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 132.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.course-false-checkmarkinthegreencircle {
  top: 901px;
  left: 189px;
  width: 139px;
  height: 139px;
  position: absolute;
  border-color: transparent;
}
