.learn-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.learn-learn {
  width: 100%;
  height: 2644px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.learn-rectangle12 {
  top: 2181px;
  left: 0px;
  width: 1728px;
  height: 463px;
  position: absolute;
  border-color: transparent;
}
.learn-lang {
  top: 2260px;
  left: 79px;
  width: 221px;
  height: 55px;
  position: absolute;
  box-sizing: content-box;
}
.learn-text {
  top: 2260px;
  left: 1408px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text002 {
  top: 2260px;
  left: 1126px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text004 {
  top: 2260px;
  left: 810px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text006 {
  top: 2260px;
  left: 590px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text008 {
  top: 2360px;
  left: 79px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text010 {
  top: 2301px;
  left: 1408px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text017 {
  top: 2301px;
  left: 1126px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text024 {
  top: 2301px;
  left: 810px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text029 {
  top: 2301px;
  left: 590px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text036 {
  top: 2581px;
  left: 715px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text038 {
  top: 2398px;
  left: 79px;
  color: rgba(255, 255, 255, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 162.5%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-line1 {
  top: 2557px;
  left: 79px;
  width: 1570px;
  height: 0px;
  position: absolute;
}
.learn-button {
  top: 606px;
  left: 1425px;
  width: 224px;
  height: 72px;
  display: flex;
  padding: 34.16470718383789px 91.10588836669922px;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(50, 28, 92, 1);
  border-style: solid;
  border-width: 2px;
  padding-left: 5px;
  border-radius: 34.16470718383789px;
  padding-right: 5px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.learn-candle2 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 17.082353591918945px;
}
.learn-vuesaxbulkcandle2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-group {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector {
  top: 18.125px;
  left: 1.5625px;
  width: 27px;
  height: 7px;
  position: absolute;
}
.learn-vector01 {
  top: 4.375px;
  left: 1.5625px;
  width: 27px;
  height: 7px;
  opacity: 0.40;
  position: absolute;
}
.learn-text040 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-rectangle200 {
  top: 426px;
  left: 415px;
  width: 987px;
  height: 81px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.learn-text042 {
  top: 315px;
  left: 415px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text044 {
  top: 322px;
  left: 1378px;
  color: rgba(103, 79, 148, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text046 {
  top: 620px;
  left: 415px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-frame2 {
  top: 434px;
  left: 75px;
  width: 253px;
  height: 73px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(249, 249, 249, 1);
}
.learn-rectangle199 {
  top: 0px;
  left: 239px;
  width: 14px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.learn-text048 {
  top: 15px;
  left: 85px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-book {
  top: 24px;
  left: 28px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.learn-vuesaxbulkbook {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-group1 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector02 {
  top: 3.7717459201812744px;
  left: 2.8333332538604736px;
  width: 14px;
  height: 26px;
  opacity: 0.40;
  position: absolute;
}
.learn-vector03 {
  top: 3.7858071327209473px;
  left: 17px;
  width: 14px;
  height: 26px;
  position: absolute;
}
.learn-vector04 {
  top: 10.96500015258789px;
  left: 6.729166507720947px;
  width: 5px;
  height: 2px;
  position: absolute;
}
.learn-vector05 {
  top: 15.21500015258789px;
  left: 6.729166507720947px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.learn-group5 {
  top: 330px;
  left: 101px;
  width: 162px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-home2 {
  top: 5px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.learn-vuesaxbulkhome2 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-group2 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector06 {
  top: 2.836534261703491px;
  left: 2.819166660308838px;
  width: 28px;
  height: 28px;
  opacity: 0.40;
  position: absolute;
}
.learn-vector07 {
  top: 20.1875px;
  left: 15.9375px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.learn-text050 {
  left: 57px;
  color: rgba(23, 23, 23, 0.5);
  height: auto;
  position: absolute;
  font-size: 38px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  text-decoration: none;
}
.learn-arrowsquareright {
  top: 323px;
  left: 1619px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.learn-vuesaxbulkarrowsquareright {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-arrowsquareright1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector08 {
  top: 2.5px;
  left: 2.5px;
  width: 25px;
  height: 25px;
  opacity: 0.40;
  position: absolute;
}
.learn-vector09 {
  top: 9.653124809265137px;
  left: 12.490625381469727px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.learn-text052 {
  top: 449px;
  left: 475px;
  color: rgba(103, 79, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 140.49999713897705%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-navlink {
  display: contents;
}
.learn-frame8 {
  top: 893px;
  left: 415px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text054 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text056 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text057 {
  font-weight: 700;
}
.learn-ellipse5 {
  top: 106px;
  left: 286px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: transparent;
}
.learn-hand {
  top: 85px;
  left: 298px;
  width: 143px;
  height: 219px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink1 {
  display: contents;
}
.learn-frame11 {
  top: 1365px;
  left: 415px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text065 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text067 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text068 {
  font-weight: 700;
}
.learn-soapfoam {
  top: 105px;
  left: 276px;
  width: 154px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink2 {
  display: contents;
}
.learn-frame14 {
  top: 1837px;
  left: 415px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text076 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text078 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text079 {
  font-weight: 700;
}
.learn-trayforfoodwithsteam {
  top: 105px;
  left: 262px;
  width: 181px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink3 {
  display: contents;
}
.learn-frame9 {
  top: 893px;
  left: 874px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text087 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text089 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text090 {
  font-weight: 700;
}
.learn-yellowspeechbubblewithellipsis {
  top: 85px;
  left: 253px;
  width: 191px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink4 {
  display: contents;
}
.learn-frame12 {
  top: 1365px;
  left: 874px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text095 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text097 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text098 {
  font-weight: 700;
}
.learn-economicgrowthchartonasheetofpaper {
  top: 110px;
  left: 266px;
  width: 171px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink5 {
  display: contents;
}
.learn-frame15 {
  top: 1837px;
  left: 874px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text103 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text105 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text106 {
  font-weight: 700;
}
.learn-croissant {
  top: 104.6865234375px;
  left: 259px;
  width: 127px;
  height: 169px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink6 {
  display: contents;
}
.learn-frame10 {
  top: 893px;
  left: 1333px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text111 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text113 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text114 {
  font-weight: 700;
}
.learn-ellipse51 {
  top: 106px;
  left: 286px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: transparent;
}
.learn-countryhousewithlawnandsmokefromthechimney {
  top: 67px;
  left: 279px;
  width: 136px;
  height: 181px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink7 {
  display: contents;
}
.learn-frame13 {
  top: 1365px;
  left: 1333px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text122 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text124 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text125 {
  font-weight: 700;
}
.learn-yellowspeechbubblewithellipsis1 {
  top: 85px;
  left: 253px;
  width: 191px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}
.learn-navlink8 {
  display: contents;
}
.learn-frame16 {
  top: 1837px;
  left: 1333px;
  width: 415px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 45px;
  text-decoration: none;
  background-color: rgba(50, 28, 92, 1);
}
.learn-text133 {
  top: 31px;
  left: 34px;
  color: rgba(254, 212, 21, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text135 {
  top: 70px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 123.00000190734863%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text136 {
  font-weight: 700;
}
.learn-calculatorwithbuttonsandnumbers {
  top: 95px;
  left: 280px;
  width: 135px;
  height: 161px;
  position: absolute;
  border-color: transparent;
}
.learn-text144 {
  top: 766px;
  left: 415px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text146 {
  top: 819px;
  left: 415px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 140.49999713897705%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text148 {
  top: 1238px;
  left: 415px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text150 {
  top: 1291px;
  left: 415px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 140.49999713897705%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text152 {
  top: 1710px;
  left: 415px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text154 {
  top: 1763px;
  left: 415px;
  color: rgba(191, 191, 191, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 140.49999713897705%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-line3 {
  top: 218px;
  left: 0px;
  width: 1728px;
  height: 0px;
  position: absolute;
}
.learn-text156 {
  top: 568px;
  left: 155px;
  color: rgba(23, 23, 23, 0.5);
  height: auto;
  position: absolute;
  font-size: 38px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-video {
  top: 572px;
  left: 98px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.learn-vuesaxbulkvideo {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-group3 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector10 {
  top: 4.604166507720947px;
  left: 3.1875px;
  width: 22px;
  height: 25px;
  opacity: 0.40;
  position: absolute;
}
.learn-vector11 {
  top: 10.795000076293945px;
  left: 13.62833309173584px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.learn-vector12 {
  top: 8.453498840332031px;
  left: 25.11750030517578px;
  width: 7px;
  height: 17px;
  position: absolute;
}
.learn-lang1 {
  top: 92px;
  left: 75px;
  width: 148px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.learn-button1 {
  top: 63px;
  left: 1393px;
  width: 256px;
  height: 95px;
  display: flex;
  position: absolute;
  box-shadow: 0px 8px 0px 0px rgba(50, 28, 92, 1) ;
  align-items: center;
  flex-shrink: 0;
  padding-top: 34.16470718383789px 91.10588836669922px;
  border-color: rgba(50, 28, 92, 1);
  border-style: solid;
  border-width: 2px;
  padding-left: 34.16470718383789px 91.10588836669922px;
  border-radius: 34.16470718383789px;
  padding-bottom: 34.16470718383789px 91.10588836669922px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.learn-text158 {
  color: rgba(50, 28, 92, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 52.67059326171875px;
  font-stretch: normal;
  margin-right: 17.082353591918945px;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-profilecircle {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.learn-vuesaxbulkprofilecircle {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-profilecircle1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.learn-vector13 {
  top: 2.512500047683716px;
  left: 2.5px;
  width: 25px;
  height: 25px;
  opacity: 0.40;
  position: absolute;
}
.learn-vector14 {
  top: 8.67500114440918px;
  left: 10.3125px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.learn-vector15 {
  top: 19.518749237060547px;
  left: 6.524999618530273px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.learn-text160 {
  top: 95px;
  left: 1003px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-text162 {
  top: 95px;
  left: 1184px;
  color: rgba(50, 28, 92, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 112.99999952316284%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.learn-vector1 {
  top: 105px;
  left: 1321px;
  width: 13px;
  height: 11px;
  position: absolute;
}
.learn-screen-shot20221104at14491 {
  top: 93px;
  left: 1127px;
  width: 44px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
